<h1>Welcome to the Top 100</h1>

<% if session[:user_id] %>
  <p>Welcome <%= "#{session[:user_name]} [user_id: #{session[:user_id]}]" %>
    <a href="/logout">(logout)</a>
  </p>
<% else %>
  <p>Hey stranger...you should either <a href="/login">login</a> or <a href="/users/new">register</a></p>
<% end %>

<p><a href="/tracks">View list of songs...</a></p>

<p><a href="/users">View list of users...</a></p>